{% extends 'base.html.twig' %}

{% block title %}Détail de l'article{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-5 d-flex justify-content-center">
        
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <strong>Prix de départ :</strong>
                {{ item.startingPrice }}$
            </div>
            <div class="card-body">

                <h4 class="card-title">{{ item.title }}</h4>

                <p class="card-text">{{ item.description }}</p>

                <p class="card-text"><strong>Catégorie :</strong>
                    {% for category in item.categories %} 
                        {{ category.name }}
                    {% else %}
                        <p class="card-text">Aucune catégorie associée.</p>
                    {% endfor %}
                </p>

                <p class="card-text"><strong>Status :</strong> {{ item.statusLabel }}</p>
                {% if is_granted('ROLE_ADMIN') %}

                    {% if item.status == 'unpublished' %}
                        <a href="{{ path('app_admin_item_toggle', {'id': item.id}) }}" class="btn btn-success mb-3">
                            Publier
                        </a>
                    {% elseif item.status == 'published' %}
                        {% if item.offers|length > 0 %}
                            <a href="{{ path('app_admin_item_toggle', {'id': item.id}) }}" class="btn btn-danger mb-3">
                                Clôturer
                            </a>
                        {% else %}
                            <a href="{{ path('app_admin_item_toggle', {'id': item.id}) }}" class="btn btn-warning mb-3">
                                Dépublier
                            </a>
                        {% endif %}
                    {% endif %}
                    <div>
                    <a href="{{ path('app_admin_item_edit', {'id': item.id}) }}" class="btn btn-success">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_item_delete', {'id': item.id}) }}" class="btn btn-danger ">
                        Supprimer
                    </a></div>

                {% endif %}
                
                {% if app.user and not is_granted('ROLE_ADMIN') and item.status == 'published' %}
                    <p class="card-text"><strong>Faire une offre :</strong></p>
                    {{ form_start(form) }}
                    {{ form_row(form.amount) }}
                    <button class="btn btn-primary mb-3">Enchérir</button>
                    {{ form_end(form) }}
                {% endif %}
                    <p class="card-text"><strong>Offres :</strong></p>
                {% for offer in offers %}
                    <p>
                        {{ offer.user.email }} : {{ offer.amount }} €
                    </p>
                {% else %}
                    <p>Aucune offre</p>
                {% endfor %}
                {% if item.status == 'closed' and item.winner %}
                    <p><strong>Gagnant :</strong> {{ item.winner.email }}</p>
                    <p><strong>Prix final :</strong> {{ item.finalPrice }} €</p>
                {% endif %}
                
            </div>
        </div>

    </div>
{% endblock %}      